<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/styles/stylesheet.css" />
        {% if page == "index" %}
        <link rel="stylesheet" type="text/css" hreff="../static/styles/stylesheet-index.css" />
        {% endif %}
    </head>
    <body>
    <div id="header-container">
        <div id="header">
            <ul>
                <a href="index"><li>Home</li></a>
                <a href="music"><li>Music</li></a>
                <a href="calendar"><li>Calendar</li></a>
                <a href="bio"><li>Bio</li></a>
                <a href="contact"><li>Contact</li></a>
            </ul>
        </div>
    </div>
    <div id="content-container">
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
    <ul id="social-media-button-container">
        <a href="https://www.facebook.com/grmlnzband/">
     		<li id="facebook" class="social-media-button"> </li>
     	</a>

	    <a href="https://grmlnz.bandcamp.com/">
     		<li id="bandcamp" class="social-media-button"> </li>
     	</a>
    </ul>
    </body>
</html>
