<!DOCTYPE html>
<html ng-app="grmlnzModule">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/styles/stylesheet.css" />
        <link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="../static/scripts/shared/angular.min.js"></script>
        <script type="text/javascript" src="../static/scripts/shared/angular-route.min.js"></script>
        <script type="text/javascript" src="../static/scripts/shared/angular-css.min.js"></script>
        <script type="text/javascript" src="../static/scripts/module/view-app/controllers.js"></script>
        <script type="text/javascript" src="../static/scripts/module/view-app/app.js"></script>
        <script type="text/javascript" src="../static/scripts/module/music-app/controllers.js"></script>
        <script type="text/javascript" src="../static/scripts/module/music-app/directives.js"></script>
        <script type="text/javascript" src="../static/scripts/module/music-app/app.js"></script>
        <script type="text/javascript" src="../static/scripts/module/module.js"></script>
        <base href="/">
    </head>
    <body>
    <div id="header-container">
        <span id="band-name-header">GRMLNZ</span>
        <div id="header">
            <ul>
                <a href="/index"><li>Home</li></a>
                <a href="/music"><li>Music</li></a>
                <a href="/calendar"><li>Calendar</li></a>
                <a href="/bio"><li>Bio</li></a>
                <a href="/contact"><li>Contact</li></a>
            </ul>
        </div>
    </div>
    <div id="content-container">
        <div ng-view id="content">

        </div>
        <jukebox></jukebox>
    </div>
    </body>
</html>
